# IDEs
.idea/
.vscode/
.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
build/
dist/

# Dataset Caches and large files
*.cache
*.log
*.sqlite

# Models and results (Large folders)
runs/
failure_analysis/
coco_dataset/
dataset/

# Checkpoints (Exclude all intermediate .pth and .pt)
*.pth
*.pt


# Explicitly UN-IGNORE (Keep) only the important final models

